<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Atualização - Agroseven</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="menu-lateral">
        <div class="topo">
            <button type="button" class="btn-fechar-menu"><img src="../assets/img/icone-fechar.svg" alt=""></button>
            <div class="foto-usuario">
                <img src="../assets/img/foto-usuario.svg" alt="">
            </div>
        </div>
        <img src="../assets/img/seta-baixo-preta.svg" class="seta-preta" alt="">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-msg.svg" alt="">
                            <div class="alerta">
                                3
                            </div>
                        </div>
                        <span>mensagem</span>
                    </a>
                </li>
                <li>
                    <a href="meus-dados.html">
                        <div class="icone">
                            <img src="../assets/img/icone-dados.svg" alt="">
                        </div>
                        <span>meus dados</span>
                    </a>
                </li>
                <li>
                    <a href="propriedades.html">
                        <div class="icone">
                            <img src="../assets/img/icone-propriedades.svg" alt="">
                        </div>
                        <span>minhas propriedades</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-status.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>status do sistema</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-chamados.svg" alt="">
                        </div>
                        <span>chamados</span>
                    </a>
                </li>
                <li>
                    <a href="atualizacao.html">
                        <div class="icone">
                            <img src="../assets/img/icone-atualizacoes.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>atualizações</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="area-sair">
            <a href="index.html">sair <img src="../assets/img/seta-baixo-amarela.svg" alt=""></a>
        </div>
    </div>
    <div class="menu-lateral">
        <div class="topo">
            <button type="button" class="btn-fechar-menu"><img src="../assets/img/icone-fechar.svg" alt=""></button>
            <div class="foto-usuario">
                <img src="../assets/img/foto-usuario.svg" alt="">
            </div>
        </div>
        <img src="../assets/img/seta-baixo-preta.svg" class="seta-preta" alt="">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-msg.svg" alt="">
                            <div class="alerta">
                                3
                            </div>
                        </div>
                        <span>mensagem</span>
                    </a>
                </li>
                <li>
                    <a href="meus-dados.html">
                        <div class="icone">
                            <img src="../assets/img/icone-dados.svg" alt="">
                        </div>
                        <span>meus dados</span>
                    </a>
                </li>
                <li>
                    <a href="propriedades.html">
                        <div class="icone">
                            <img src="../assets/img/icone-propriedades.svg" alt="">
                        </div>
                        <span>minhas propriedades</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-status.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>status do sistema</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-chamados.svg" alt="">
                        </div>
                        <span>chamados</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-atualizacoes.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>atualizações</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="area-sair">
            <a href="#">sair <img src="../assets/img/seta-baixo-amarela.svg" alt=""></a>
        </div>
    </div>
    <header>
        <div class="logo-sistema">
            <img src="../assets/img/logo-agroseven-branco.svg" class="img-responsive" alt="">
        </div>
        <div class="logo-fazenda">
            <img src="../assets/img/logo-fazenda.svg" class="img-responsive" alt="">
        </div>
        <div class="central-menu">
            <div class="notificacoes">
                <a href="#">
                    <img src="../assets/img/icone-sino.svg" alt="">
                    <div class="alerta">
                        <span>!</span>
                    </div>
                </a>
            </div>
            <div class="menu">
                <button class="btn-menu">
                    <img src="../assets/img/icone-menu.svg" alt="">
                </button>
                <div class="foto-usuario">
                    <img src="../assets/img/foto-usuario.svg" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="s-atualizacao">
        <div class="box-atualizacao">
            <div class="topo">
                <div class="titulo">
                    <div class="traco"></div>
                    <h1>atualização do sistema</h1>
                </div>
                <div class="data-atualizacao">
                    <img src="../assets/img/icone-atualizacao.svg" class="icone-atualizacao" alt="">
                    <div class="texto">
                        <span>ATUALIZAÇÃO</span>
                        <h2>JANEIRO DE 2018</h2>
                    </div>
                    <img src="../assets/img/seta-baixo-cinza.svg" alt="" class="seta-baixo">
                </div>
            </div>
            <div class="conteudo-at">
                <div class="lado-esq">
                    <di class="texto">
                        <div class="item">
                            <div class="titulo-atu">
                                <div class="circulo"></div>
                                <p>DATA DA ATUALIZAÇÃO 12/01/2018</p>
                            </div>
                            <ul>
                                <li>- 21 de Junho Disponibilizada a carteira de cobrança registrada para o banco Santander. </li>
                                <li>- Adicionado na fatura a exibição do erro do PagSeguro para clientes com dados inválidos. - </li>
                                <li>- Correção no cadastro de clientes formatando os telefones ao salvar. </li>
                                <li>- Correção na leitura de arquivo de retorno do Banco do Brasil apenas com tarifas. </li>
                                <li>- Correção na busca de clientes com nome apenas com números e pontos. </li>
                                <li>- Atualização na validação de e-mail aceitando novas extensões de domínios. </li>
                                <li>- Correção nos métodos de clientes chamados na API.</li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="titulo-atu">
                                <div class="circulo"></div>
                                <p>DATA DA ATUALIZAÇÃO 12/01/2018</p>
                            </div>
                            <ul>
                                <li>- 21 de Junho Disponibilizada a carteira de cobrança registrada para o banco Santander. </li>
                                <li>- Adicionado na fatura a exibição do erro do PagSeguro para clientes com dados inválidos. - </li>
                                <li>- Correção no cadastro de clientes formatando os telefones ao salvar. </li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="titulo-atu">
                                <div class="circulo"></div>
                                <p>DATA DA ATUALIZAÇÃO 12/01/2018</p>
                            </div>
                            <ul>
                                <li>- 21 de Junho Disponibilizada a carteira de cobrança registrada para o banco Santander. </li>
                                <li>- Adicionado na fatura a exibição do erro do PagSeguro para clientes com dados inválidos. - </li>
                                <li>- Correção no cadastro de clientes formatando os telefones ao salvar. </li>
                            </ul>
                        </div>
                    </di>
                </div>
                <div class="lado-dir">
                    <div class="texto">
                        <img src="../assets/img/icone-lampada.svg" class="icone-lampada" alt="">
                        <h1>AJUDE A MELHORAR NOSSO SISTEMA.</h1>
                        <p>NOS ENVIE SUGESTOES E POSSÍVEIS MELHORAS
                            <br>CLICANDO NO BOTÃO ABAIXO</p>
                        <img src="../assets/img/seta-baixo-cinza.svg" class="seta-baixo" alt="">
                        <button type="button" data-toggle="modal" data-target="#modalEnviarSugestao"> Enviar sugestões</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modalEnviarSugestao" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../assets/img/icone-fechar.svg" alt="">
                </button>
                <div class="modal-body">
                    <h1>MINHA SUGESTÃO / IDEIA</h1>
                    <img src="../assets/img/seta-baixo-cinza.svg" alt="" class="seta-baixo">
                    <form action="">
                        <div class="form-group">
                            <textarea name="" id="" rows="12"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script src="../assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>