<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Funcionários - Agroseven</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="menu-lateral">
        <div class="topo">
            <button type="button" class="btn-fechar-menu"><img src="../assets/img/icone-fechar.svg" alt=""></button>
            <div class="foto-usuario">
                <img src="../assets/img/foto-usuario.svg" alt="">
            </div>
        </div>
        <img src="../assets/img/seta-baixo-preta.svg" class="seta-preta" alt="">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-msg.svg" alt="">
                            <div class="alerta">
                                3
                            </div>
                        </div>
                        <span>mensagem</span>
                    </a>
                </li>
                <li>
                    <a href="meus-dados.html">
                        <div class="icone">
                            <img src="../assets/img/icone-dados.svg" alt="">
                        </div>
                        <span>meus dados</span>
                    </a>
                </li>
                <li>
                    <a href="propriedades.html">
                        <div class="icone">
                            <img src="../assets/img/icone-propriedades.svg" alt="">
                        </div>
                        <span>minhas propriedades</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-status.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>status do sistema</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-chamados.svg" alt="">
                        </div>
                        <span>chamados</span>
                    </a>
                </li>
                <li>
                    <a href="atualizacao.html">
                        <div class="icone">
                            <img src="../assets/img/icone-atualizacoes.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>atualizações</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="area-sair">
            <a href="index.html">sair <img src="../assets/img/seta-baixo-amarela.svg" alt=""></a>
        </div>
    </div>
    <div class="area-notificacoes">
        <div class="todas-notificacoes">
            <div class="item">
                <a href="#">
                    <div class="icone">
                        <span>!</span>
                    </div>
                    <div class="texto">
                        <h2>financeiro</h2>
                        <p>Simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem…</p>
                    </div>
                    <img src="../assets/img/seta-dir-cinza.svg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="icone">
                        <span>!</span>
                    </div>
                    <div class="texto">
                        <h2>financeiro</h2>
                        <p>Simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem…</p>
                    </div>
                    <img src="../assets/img/seta-dir-cinza.svg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="icone">
                        <span>!</span>
                    </div>
                    <div class="texto">
                        <h2>financeiro</h2>
                        <p>Simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem…</p>
                    </div>
                    <img src="../assets/img/seta-dir-cinza.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <header>
        <div class="logo-sistema">
            <img src="../assets/img/logo-agroseven-branco.svg" class="img-responsive" alt="">
        </div>
        <div class="logo-fazenda">
            <img src="../assets/img/logo-fazenda.svg" class="img-responsive" alt="">
        </div>
        <div class="central-menu">
            <div class="todas-prop">
                <div class="propriedades">
                    <div class="info-prop">
                        <img src="../assets/img/icone-propriedade-branco.svg" alt="">
                        <div class="texto">
                            <span>fazenda</span>
                            <h2>santa cruz</h2>
                        </div>
                    </div>
                    <img src="../assets/img/seta-baixo-cinza.svg" class="seta-baixo" alt="">
                </div>
                <div class="dropdown-fazendas">
                    <div class="item">
                        <a href="#">
                            <div class="info-prop">
                                <img src="../assets/img/icone-propriedade-branco.svg" alt="">
                                <div class="texto">
                                    <span>fazenda</span>
                                    <h2>santa cruz</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="info-prop">
                                <img src="../assets/img/icone-propriedade-branco.svg" alt="">
                                <div class="texto">
                                    <span>fazenda</span>
                                    <h2>betel</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="notificacoes">
                <a href="#">
                    <img src="../assets/img/icone-sino.svg" alt="">
                    <div class="alerta">
                        <span>!</span>
                    </div>
                </a>
            </div>
            <div class="menu">
                <button class="btn-menu">
                    <img src="../assets/img/icone-menu.svg" alt="">
                </button>
                <div class="foto-usuario">
                    <img src="../assets/img/foto-usuario.svg" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="s-funcionarios">
        <div class="box-geral">
            <div class="lado-esq">
                <div class="area-propriedades">
                    <div class="prop-principal">
                        <div class="info-prop">
                            <img src="../assets/img/icone-propriedades.svg" alt="">
                            <div class="texto">
                                <span>fazenda</span>
                                <h2>SANTA CRUZ</h2>
                            </div>
                        </div>
                        <img src="../assets/img/seta-baixo-cinza.svg" alt="" class="seta-baixo">
                    </div>
                </div>
                <div class="dados-gerais-fazenda">
                    <div class="area-fazenda">
                        <div class="logo-fazenda">
                            <img src="../assets/img/logo-fazenda.svg" class="centralizar-img" alt="">
                        </div>
                    </div>
                    <a href="#" class="btn-deletar">deletar</a>
                    <div class="info">
                        <h1>fazenda santa cruz</h1>
                        <h2>ID : 221323</h2>
                    </div>
                    <div class="dados-data">
                        <p>DATA DE CADASTRO : 16/08/2019</p>
                        <p>23 FUNCIONÁRIOS</p>
                        <ul class="cultivos">
                            <li class="item">
                                <div class="icone">
                                    <img src="../assets/img/icone-cafe.svg" class="centralizar-img icone-cafe" alt="">
                                </div>
                                <span>café</span>
                            </li>
                            <li class="item">
                                <div class="icone">
                                    <img src="../assets/img/icone-gado.svg" class="centralizar-img icone-gado" alt="">
                                </div>
                                <span>gado</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="lado-dir">
                <div class="topo">
                    <div class="titulo">
                        <div class="traco"></div>
                        <h1>fúncionarios</h1>
                    </div>
                    <div class="navegacao">
                        <ul>
                            <li>
                                <a href="#">
                                <img src="../assets/img/icone-nav-dados.svg" alt="">
                            </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                <img src="../assets/img/icone-nav-funcionarios.svg" alt="">
                            </a>
                            </li>
                            <li>
                                <a href="usuarios.html">
                                <img src="../assets/img/icone-nav-usuario.svg" alt="">
                            </a>
                            </li>
                            <li>
                                <a href="arquivos-propriedade.html">
                                <img src="../assets/img/icone-nav-anexo.svg" alt="">
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="funcionarios-geral">
                    <div class="topo-sessao">
                        <div class="setores">
                            <h2>todos setores</h2>
                            <img src="../assets/img/seta-baixo-cinza.svg" alt="">
                        </div>
                        <div class="pesquisar-add">
                            <button type="button" class="btn-pesquisar">
                                <img src="../assets/img/icone-pesquisar.svg" alt="">
                            </button>
                            <a href="#" class="btn-add-funcionario">
                            <span>+</span> adicionar
                        </a>
                        </div>
                    </div>
                    <div class="todos-funcionarios">
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                        <div class="box-funcionario">
                            <a href="#">
                            <img src="../assets/img/foto-funcionario.svg" alt="">
                            <div class="texto">
                                <h1>paulo cesar</h1>
                                <h2>responsável da sede</h2>
                            </div>
                            <img src="../assets/img/seta-dir-func.svg" class="seta-baixo" alt="">
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>