<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - Agroseven</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <section class="login">
        <h1>PLANEJE 
        ORGANIZE
        CRESÇA E
        LUCRE!</h1>
        <div class="area-login">
            <div class="box-login">
                <img src="../assets/img/logo-agroseven.svg" class="img-responsive logo" alt="">
                <h2>ENTRAR NA MINHA ÁREA</h2>
                <p>FAÇA SEU LOGIN ABAIXO</p>
                <form action="">
                    <div class="form-group">
                        <input type="text" placeholder="login">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="senha">
                    </div>
                    <div class="form-group">
                        <a href="#">esqueci minha senha</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="entrar">
                    </div>
                    <a href="#" class="btn-conheca">conheça a plataforma</a>
                </form>
            </div>
            <img src="../assets/img/logo-branco.svg" class="logo-branco" alt="">
        </div>
    </section>
    <script src="../assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>