<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Propriedades - Agroseven</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="../assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="menu-lateral">
        <div class="topo">
            <button type="button" class="btn-fechar-menu"><img src="../assets/img/icone-fechar.svg" alt=""></button>
            <div class="foto-usuario">
                <img src="../assets/img/foto-usuario.svg" alt="">
            </div>
        </div>
        <img src="../assets/img/seta-baixo-preta.svg" class="seta-preta" alt="">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-msg.svg" alt="">
                            <div class="alerta">
                                3
                            </div>
                        </div>
                        <span>mensagem</span>
                    </a>
                </li>
                <li>
                    <a href="meus-dados.html">
                        <div class="icone">
                            <img src="../assets/img/icone-dados.svg" alt="">
                        </div>
                        <span>meus dados</span>
                    </a>
                </li>
                <li>
                    <a href="propriedades.html">
                        <div class="icone">
                            <img src="../assets/img/icone-propriedades.svg" alt="">
                        </div>
                        <span>minhas propriedades</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-status.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>status do sistema</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-chamados.svg" alt="">
                        </div>
                        <span>chamados</span>
                    </a>
                </li>
                <li>
                    <a href="atualizacao.html">
                        <div class="icone">
                            <img src="../assets/img/icone-atualizacoes.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>atualizações</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="area-sair">
            <a href="index.html">sair <img src="../assets/img/seta-baixo-amarela.svg" alt=""></a>
        </div>
    </div>
    <div class="menu-lateral">
        <div class="topo">
            <button type="button" class="btn-fechar-menu"><img src="../assets/img/icone-fechar.svg" alt=""></button>
            <div class="foto-usuario">
                <img src="../assets/img/foto-usuario.svg" alt="">
            </div>
        </div>
        <img src="../assets/img/seta-baixo-preta.svg" class="seta-preta" alt="">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-msg.svg" alt="">
                            <div class="alerta">
                                3
                            </div>
                        </div>
                        <span>mensagem</span>
                    </a>
                </li>
                <li>
                    <a href="meus-dados.html">
                        <div class="icone">
                            <img src="../assets/img/icone-dados.svg" alt="">
                        </div>
                        <span>meus dados</span>
                    </a>
                </li>
                <li>
                    <a href="propriedades.html">
                        <div class="icone">
                            <img src="../assets/img/icone-propriedades.svg" alt="">
                        </div>
                        <span>minhas propriedades</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-status.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>status do sistema</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="icone">
                            <img src="../assets/img/icone-chamados.svg" alt="">
                        </div>
                        <span>chamados</span>
                    </a>
                </li>
                <li>
                    <a href="atualizacao.html">
                        <div class="icone">
                            <img src="../assets/img/icone-atualizacoes.svg" alt="">
                            <div class="alerta">
                                !
                            </div>
                        </div>
                        <span>atualizações</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="area-sair">
            <a href="index.html">sair <img src="../assets/img/seta-baixo-amarela.svg" alt=""></a>
        </div>
    </div>
    <header>
        <div class="logo-sistema">
            <img src="../assets/img/logo-agroseven-branco.svg" class="img-responsive" alt="">
        </div>
        <div class="logo-fazenda">
            <img src="../assets/img/logo-fazenda.svg" class="img-responsive" alt="">
        </div>
        <div class="central-menu">
            <div class="notificacoes">
                <a href="#">
                    <img src="../assets/img/icone-sino.svg" alt="">
                    <div class="alerta">
                        <span>!</span>
                    </div>
                </a>
            </div>
            <div class="menu">
                <button class="btn-menu">
                    <img src="../assets/img/icone-menu.svg" alt="">
                </button>
                <div class="foto-usuario">
                    <img src="../assets/img/foto-usuario.svg" alt="">
                </div>
            </div>
        </div>
    </header>
    <section class="s-propriedades">
        <div class="conteudo">
            <div class="titulo">
                <h1>minhas propriedades</h1>
                <p>você tem 2 propriedades cadastradas</p>
                <img src="../assets/img/seta-baixo-amarela.svg" alt="">
            </div>
            <div class="todas-propriedades">
                <div class="box-fazenda">
                    <a href="#">
                        <div class="logo">
                            <img src="../assets/img/logo-fazenda-01.svg" alt="">
                        </div>
                        <div class="itens-fazenda">
                            <ul>
                                <li>
                                    <div class="icone">
                                        <img src="../assets/img/icone-cafe.svg" class="icone-cafe" alt="">
                                    </div>
                                    <span>café</span>
                                </li>
                                <li>
                                    <div class="icone">
                                        <img src="../assets/img/icone-gado.svg" class="icone-gado" alt="">
                                    </div>
                                    <span>gado</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="box-fazenda">
                    <a href="#">
                        <div class="logo">
                            <img src="../assets/img/logo-fazenda.svg" alt="">
                        </div>
                        <div class="itens-fazenda">
                            <ul>
                                <li>
                                    <div class="icone">
                                        <img src="../assets/img/icone-cafe.svg" class="icone-cafe" alt="">
                                    </div>
                                    <span>café</span>
                                </li>
                                <li>
                                    <div class="icone">
                                        <img src="../assets/img/icone-gado.svg" class="icone-gado" alt="">
                                    </div>
                                    <span>gado</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="box-add-nova-fazenda">
                    <a href="dados-basicos.html">
                        <img src="../assets/img/logo-fazenda-02.svg" alt="">
                        <span>adicionar</span>
                        <h1>nova propriedade</h1>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>