::-webkit-scrollbar{
	width:4px;
	height:4px;
}
::-webkit-scrollbar-track{
/* 	border-radius:4px; */
}
::-webkit-scrollbar-track:vertical:hover{
	border-right:1px solid rgb(1,101,159);
}
::-webkit-scrollbar-track:horizontal:hover{
	border-bottom:1px solid rgb(1,101,159);
}
::-webkit-scrollbar-thumb:vertical{
	border-right:1px solid rgb(1,101,159);
}
::-webkit-scrollbar-thumb:horizontal{
	border-bottom:1px solid rgb(1,101,159);
}
::-webkit-scrollbar-thumb:vertical:hover{
	border-right:3px solid rgb(1,101,159);
}
::-webkit-scrollbar-thumb:horizontal:hover{
	border-bottom:3px solid rgb(1,101,159);
}
body{
	overflow:hidden;
}
#corpo{
	background:white;
}
#toast .mdl-snackbar__text{
	text-align:center;
}
form{

}
form>.mdl-card{
	max-width:calc( 100vw - 16px );
	max-height:calc( 100vh - 16px );
	overflow:hidden;
}
form .mdl-card__title{
	min-height:60px;
}
form .mdl-card__actions{
	min-height:53px;
}
form .mdl-card__title>.mdl-card__title-text{
}
form .mdl-card__supporting-text{
	overflow:auto;
}
form .material-icons{
	margin-right:10px;
	font-size:28px;
}
form .mdl-textfield{
	width:239px;
	margin-left:12px;
}
form .mdl-textfield__info{
	width:100%;
	position: absolute;
	font-size: 12px;
	margin-top: 3px;
	visibility: hidden;
	display: block;
	color: rgb(63,81,181);
}
form .mdl-textfield__info>.barra{
	width:100%;
	height:3px;
	display: block;
	background: lightgray;
}
form .mdl-textfield__info>.barra>span{
	display: block;
	height:100%;
}

.mdl-textfield:not(.is-invalid) .mdl-textfield__info{
	visibility: visible;
}

form button.mostraSenha{
	position:absolute;
	right:0;
}

form .mostraSenha>.material-icons{
	font-size:24px!important;
	position: inherit!important;
	top:initial!important;
}

form .mdl-card__supporting-text .material-icons{
	position:relative;
	top:14px;
	font-size:36px;
	margin:0;
}
form .erros{
	border-top: 1px solid rgba(255,0,0,0.3)!important;
	display:none;
	margin:16px 0 0 0;
	padding:8px 0 0 0;
	position: relative;
	visibility:visible;
}
form .erros>li{
	display:block;
	margin:0;
	font-size:inherit;
	text-align:center;
}
form .pequeno{
	text-transform:initial;
	font-family:'Roboto-Condensed';
	font-size:smaller;
}
form button .mdl-spinner{
	display:none;
	width:24px;
	height:24px;
	top:5px;
	left:-5px;
}
form button.carregando .mdl-spinner{
	display:inline-block;
}
form button.carregando .material-icons{
	display:none;
}

body{
	//font-family:'Roboto',sans-serif;
	//font-weight:300;
	//font-size:32px;
}

#toast{
	padding:3px
}

#toast .material-icons,#toast .mdl-snackbar__text{
	padding:2px;
	vertical-align:middle;
	color:#fff;
	float:none;
}

.centrar{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:center;
}

.modal{
	visibility:hidden;
	z-index:-1;
	position:absolute;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background: rgba(255,255,255,0.8);
	overflow:hidden;
}
.modal.mostrar{
	visibility:visible;
	z-index:6;
}
.modal .mdl-card{
	min-height:unset;
}
#corpo .mdl-layout__content{
	max-height:-webkit-fill-available;
}
#corpo .page-content{
	text-align:center;
}
header img.logo{
	width:auto;
	height:46px;
}

nav.mdl-navigation{
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1;
}

nav .material-icons{
	margin-right:10px;
}

nav .logo{
	height:-webkit-fill-available;
	padding: 8px 0;
}

footer{
	text-align:center;
}
footer>div{
	text-align:center;
	width:100%;
}
footer.mdl-mini-footer{
	padding:8px 16px;
	margin-left:0;
	will-change:transform;
	transition-duration:.2s;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-property:transform;
	transition-property:transform,-webkit-transform;
}

footer.mdl-mini-footer .mdl-mini-footer__right-section>a>img{
	width:auto;
	height:16px;
	margin-top:-2px;
	filter: opacity(50%);
	transition: 1s filter linear, 1s -webkit-filter linear;
}
footer.mdl-mini-footer .mdl-mini-footer__right-section>a:hover>img{
/* 	content:url('img/7seven_feH.svg'); */
	filter: opacity(100%);
}
@media screen and (min-width:400px){
	footer>div{
		text-align:inherit;
		width:inherit;
	}
}
@media screen and (min-width:1025px){
	footer.mdl-mini-footer{
		margin-left:240px;
	}
}